# Notebooks for Phython Learning - Basics

## Basics: 
### 1. Types:
  * **Int**: integer such as `1`, `0`, `5`
  * **Float**: real numbers such as `1.1` or `3.99`
  * **Str**: string such as `"this is a text"`
  * **Boolean**: have only two possible values of `"True"` and `“False”`

Here are some simple examples as practice:

first, let's Check the Python Version in the code:

In [24]:
import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]

* The type of integer:

In [25]:
type(9)

int

* The type of float:

In [33]:
type(9.8572)

float

System settings about float type:

In [51]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [52]:
# convert integer to float:
float(2)

2.0

In [39]:
# convert float to integer:
int(9.8752)

9

* The type of string

In [28]:
type("this is a text") # the type of string I (double quotation sign)

str

In [29]:
type('this is also text') # the type of string II (single quotation sign)

str

In [53]:
# convert string to number 
int('1')

1

In [43]:
float('1.25')

1.25

In [46]:
int('this is number 1') # this gives error;

ValueError: invalid literal for int() with base 10: 'this is number 1'

In [54]:
# convert number to string
str(1)

'1'

In [49]:
str(1.25)

'1.25'

 * The type of boolean: binary value data type ('True' or 'False')

In [36]:
type(True) 
# Note: the Boolean type input "True" should start with upper case 'T'.

bool

In [35]:
type(False)
# Note: the Boolean type input "False" should start with upper case 'F'.

bool

In [55]:
# Convert True to int
int(True)

1

In [56]:
# Convert 1 to boolean
bool(1)

True

In [58]:
# convert False to integer:
int(False)

0

In [59]:
# convert 0 to boolean
bool(0)

False

* more examples:

In [77]:
type(7/2)

float

In [65]:
type(6//2)

int

In [72]:
bool(1<=2)

True

In [73]:
int(1==1)

1

In [76]:
type(1==1)

bool

### 2. Expressions and Variables
  * **Expressions**: mathematical operations: `1+1`, `2-5`, `3*4`, `6/2`... 
  * **Variables**: `my_variable=1`

* examples of expression:

In [94]:
1+1

2

In [98]:
1-2

-1

In [96]:
2*3

6

In [103]:
25/5

5.0

In [104]:
25//5

5

In [105]:
30+2*60

150

In [106]:
(30+2)*60

1920

* examples of variable

In [78]:
my_var=1

In [79]:
my_var

1

In [107]:
var=3+2*2

In [108]:
var

7

In [109]:
x=2
x=x+2
x

4

In [93]:
x=2/2
type(x)

float

In [110]:
y = x * 60
y

240

In [114]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [115]:
total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [117]:
x=3+2*2
x

7

In [119]:
y=(3+2)*2
y

10

In [121]:
z=x+y
z

17

### 3. String Operations
  * **string sequence**: Indexing, Negative Indexing, Slicing, Stride, Concatenate Strings, Escape Sequences
  * **string operations (string method)**: Upper case, find the first index of the sub-string, replace the sub-string

In [123]:
str="this is a string" # a string like this can be regarded as a

In [126]:
str

'this is a string'

In [130]:
str[0]

't'

In [132]:
str[4] #this gives a empty space;

' '

In [133]:
str[-1] #reversed order in negative numbers

'g'

In [136]:
# string slicing: 
str[0:4] # please notice, this way of slicing is exclusive for the ending position

'this'

In [140]:
# stride:
str[::2]

'ti sasrn'

In [142]:
# stride:
str[0:8:3]

'tss'

In [143]:
# length of a string
len(str)

16

In [146]:
# create new string
new_str=str+', yes!'
new_str

'this is a string, yes!'

In [161]:
# tuples:
doub_str= 4 * "oh yeah! "
doub_str

'oh yeah! oh yeah! oh yeah! oh yeah! '

In [157]:
# escape sequence:
print("AB\nC\nDE")

AB
C
DE

In [159]:
print("AB\tC\tDE")

AB	C	DE

In [160]:
print("AB\\C\\DE")

AB\C\DE

In [162]:
print(r"AB\\C\\DE")

AB\\C\\DE

In [184]:
print('\\')

\

In [189]:
print(r"\ ")

\

* String method

In [165]:
str

'this is a string'

In [167]:
# change to upper case
upper_str=str.upper()
upper_str

'THIS IS A STRING'

In [170]:
# replace specific string
replace_str=str.replace('this', 'that')
replace_str

'that is a string'

In [180]:
# find the index of position of a substring:
find_str=str.find(' is')
find_str

4

In [182]:
no_find_str=str.find('cool')
no_find_str

-1

In [183]:
"hello Mike".find("Mike")

6

In [190]:
name = 'Lizz'
print(name[0:2])

Li

In [191]:
A='1934567' #
A[1::2]

'946'

In [192]:
print('1'+'2')

12

In [196]:
myvar = 'hello' 
print(myvar.upper())

HELLO

In [194]:
Name="Michael Jackson" 
Name.find('el')

5

In [200]:
"123".replace("12", "ab")

'ab3'